:root {
	--primary-color: #f1d6d5;
	--accent-color: #dbbd60;
	--body-font: "Cormorant Garamond", serif;
	--heading-font: "Gabriela", serif;
}

body {
	font: var(--body-font);
}

h1,
h2,
h3,
h4 {
	font: var(--heading-font);
}

.container {
	justify-content: center;
	align-items: center;
}

.button {
	display: inline-block;
	padding: 0.75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-color: var(--primary-color);
	border-radius: 10rem;
}

.button:hover {
	background-color: var(--accent-color);
}

.challengeButton {
	padding-top: 50px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.checklist {
	padding: 10px;
	display: flex;
	margin: 10px;
}

/* Styles for screens smaller than 768px (tablets and mobile devices) */
@media (max-width: 767px) {
	.checklist {
		font-size: 12px;
		margin-bottom: 5px;
	}

	.listOfAffirm {
		font-size: 10px;
	}

	.devotion {
		font-size: 10px;
	}
}

.affirm {
	text-align: center;
	margin-top: 80px;
	border: var(--primary-color) double 5px;
	padding: 20px;
}

.devotion {
	margin-top: 10px;
	border: var(--primary-color) double 5px;
	padding: 20px;
	line-height: 1.5;
}

.verse {
	border: var(--primary-color) inset 5px;
	padding: 20px;
	text-align: center;
	font-weight: 500;
}

.listOfAffirm {
	list-style: none;
	margin-bottom: 10px;
}

.listOfAffirm::before {
	content: "";
	background-image: url("images/Her Level Up Logo-2.svg");
	background-size: contain;
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top: 0.1rem;
	margin-right: 0.2rem;
}

.listOfSignUp {
	list-style: none;
	padding-left: 0;
}

.listOfSignUp li::before {
	content: "";
	background-image: url("images/Her Level Up Logo-2.svg");
	background-size: contain;
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top: 0.1rem;
	margin-right: 0.2rem;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

.jump {
	animation: jump 0.5s;
}

.color-change {
	color: red !important;
	transition: color 0.5s;
}

.socialIcons {
	padding: 80px;
}

.socialIcons {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.socialIcons i {
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.socialIcons i:hover {
	transform: scale(1.2);
}

footer {
	display: block;
	text-align: center;
}

#dailyToDo {
	display: flex;
	flex-direction: column;
	align-items: left;
}

#butterfly-change-image {
	animation: fadeIn 5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#dailyToDo input[type="checkbox"]:checked {
	accent-color: var(--primary-color);
}

.home-newsletter {
	padding: 50px 0;
	background-color: var(--primary-color);
}

.home-newsletter .single {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;
}

.home-newsletter .single h2 {
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.home-newsletter .single form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-newsletter .single label {
	color: white;
	margin-bottom: 10px;
}

.home-newsletter .single .form-control {
	height: 50px;
	background: white;
	border-color: transparent;
	border-radius: 20px 0 0 20px;
	padding: 10px;
}

.home-newsletter .single .form-control:focus {
	box-shadow: none;
	border-color: #243c4f;
}

.home-newsletter .single .btn {
	min-height: 50px;
	border-radius: 0 20px 20px 0;
	background: var(--accent-color);
	color: #fff;
	padding: 10px 20px;
}

.challengeIcons {
	text-align: center;
}

.ChallengeDayButton {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: 2px solid var(--accent-color);
	border-radius: 3px;
	color: var(--accent-color);
	background: var(--primary-color);
	font: var(--heading-font);
	font-size: 24px;
	/* increase font size */
	font-weight: 600;
	line-height: 36px;
	/* increase line height */
	padding: 16px 28px;
	/* increase padding */
	text-align: center;
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ChallengeDayButton:hover {
	background: #e2aaad;
	transform: scale(1.1);
	box-shadow: 0 0 20px 5px #ffb6c1;
}

#butterfly-change-image {
	border-radius: 10px;
	box-shadow: 0 0 20px 5px #ffb6c1;
}

#video-section {
	height: 3cm;
	width: 170vw;
	overflow: auto;
}

#video-section video {

	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
}

a {
	color: black;
}

a:visited {
	color: black;
}

a:link {
	text-decoration: none;
}

a:not(.navbar-nav a) {
	animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10px);
	}
}