:root {
    --primary-color: #f1d6d5; /* use double dash for custom properties */
    --accent-color: #dbbd60;
}

.container {
    max-width: 600px; /* use max-width instead of width */
    margin: 0 auto; /* center the container */
}

.checklist {
    padding: 5px;
    display: flex; /* use flexbox to align the contents */
    justify-content: center; /* center the contents horizontally */
    align-items: center; /* center the contents vertically */
}

.affirm {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
    border: var(--primary-color) double 5px;

    padding: 20px;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.jump {
    animation: jump 0.5s;
}

.color-change {
    color: red !important;
    transition: color 0.5s;
}
